

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabecera of cabeceras">{{cabecera}}</th>
      <th *ngIf="isMantenimiento==true">Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pp of productos">
      <td>{{pp.idproducto}}</td>
      <td>{{pp.nombre}}</td>
      <td>{{pp.precio}}</td>
      <td>{{pp.stock}}</td>
      <td>{{pp.nombreCategoria}}</td>
      <td *ngIf="isMantenimiento==true">
        <i [routerLink]="['/producto-form-mantenimiento',pp.iidproducto]" class="glyphicon glyphicon-edit btn btn-primary"></i>
        <i class="glyphicon glyphicon-trash btn btn-danger"></i>
      </td>
    </tr>
 </tbody>
  
</table>
