<div class="row">
  <div class="col-md-12">
    <form [formGroup]="usuario" (ngSubmit)="login()">
      <h1>Login</h1>
      <div class="form-group">
        <label>Ingrese usuario</label>
        <input type="text" class="form-control" formControlName="nombreUsuario" />
        <div style="color:red" *ngIf="usuario.controls['nombreUsuario'].errors?.required">
          El nombre de usuario es requerido
        </div>
      </div>
      <div class="form-group">
        <label>Ingrese contraseña</label>
        <input type="password" class="form-control" formControlName="contra" />

        <div style="color:red" *ngIf="usuario.controls['contra'].errors?.required">
          La contraseña es requerido
        </div>

      </div>
      <input type="submit" [disabled]="!usuario.valid" value="Ingresar" class="btn btn-primary" />
      <input type="button" value="Regresar" class="btn btn-danger" />

    </form>
    <div style="color:red" *ngIf="error==true">
      Usuario o contraseña incorrecta

    </div>

  </div>

</div>
